.card-container {
  perspective: 1000px;
  height: 300px;
  width: 200px;
  padding: 0;
}

.card {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;

  transition: transform 1s;
  transform-style: preserve-3d;
  transform-origin: center center;

}

.card .side {
  background-color: rgb(62, 211, 62);
  cursor: pointer;
  text-align: center;
  transition: all 1s;
  backface-visibility: hidden;
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 2rem;
  line-height: 300px;
}

.backside {
  transform: rotateY(180deg);
}


.flipped {
  transform: rotateY(180deg);
}
