@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html, body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
}

.next {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: rgb(32, 170, 32);
  font-size: 200%;
  font-weight: 100;
  cursor: pointer;
  padding: 30px;
}

.next:hover {
  background-color: lightgrey;
}

.back {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: rgb(32, 170, 32);
  font-size: 200%;
  font-weight: 100;
  cursor: pointer;
  padding: 30px;
}

.back:hover {
  background-color: lightgrey;
}
